{% extends "_partials/layout.njk" %}
{% block link %}
  <link rel="stylesheet" type="text/css" href="/css/category.css" />
{% endblock link %}
{% block body %}
  <div class="wall wall-category">
    <div class="wall-main">
      <div class="wall-category-title">
        <div class="title-icon"
             style="background-image: url({{ url_for(page.icon) }})"></div>
        {{ page.title or page.name }}
      </div>
      <div class="wall-category-description">{{ page.description }}</div>
      <div class="wall-category-tags">
        <script type="text/javascript" charset="utf-8" src="{{ url_for('/js/tagcanvas.min.js') }}"></script>
        <script type = "text/javascript">
          window.onload = function() {
              try {
                  TagCanvas.Start('tagCanvas', '', {
                      outlineThickness: 1,
                      maxSpeed: 0.03,
                      // freezeActive: true,
                      // freezeDecel: true,
                      textColour: null,
                      textColour: null,
                      outlineColour: "#aaa",
                      weight: true,
                      padding: 4,
                      // clickToFront: 200,
                      fadIn: 200,
                      // pinchZoom: true,
                      wheelZoom: false,
                      initial: [0.1, -0.03]
                  });
              } catch (e) {
                  // something went wrong, hide the canvas container
                  document.getElementById('tags-outer').style.display = 'none';
              }
          };
        </script>
        <div id="tags-outer">
          <canvas width="500" height="500" id="tagCanvas">
            {% if theme.subpage.enable and page.tags %}
              {{ tagcloud(page.tags, {min_font: 14, max_font: 30}) }}
            {% else %}
              {{ list_tags() }}
            {% endif %}
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="post-list">
    {% if not page.posts %}
      DEBUG: 该子夜分类下没有文章！在指定文章头部中添加 category: {{ page.name }} 字段，即可将该文章添加至此页。
    {% else %}
      {% for p in page.posts.toArray()%}
        <div class="post-card">
          <div class="post__head">
            <a href="{{ url_for(p.path) }}" class="post-title hover-line">{{ p.title or "未命名" }}</a>
          </div>
          <div class="post__body">
            {% if p.cover %}
              <a href="{{ url_for(p.path)}}"
                 class="post-cover"
                 style="background-image: url({{ url_for(p.cover)}})"></a>
            {% endif %}
            <div class="post-excerpt">{{ p.excerpt }}</div>
          </div>
          <div class="post__foot">
            <div class="post-tags">{{ partial("_partials/macros/tags.njk", {tags: p.tags}) }}</div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    {% if page.prev or page.next %}<div class="paginator">{{ paginator({prev_next: false})}}</div>{% endif %}
  </div>
{% endblock body %}
