@font-face {
  font-family: sourceHanSerif;
  src: url('/font/regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: sourceHanSerif;
  src: url('/font/bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: sourceSans;
  src: url('/font/SourceSans3VF-Roman.ttf');
}

@font-face {
  font-family: sourceSans;
  src: url('/font/SourceSans3VF-Italic.ttf');
  font-style: italic;
}
