@import '_variables.styl';

.wall-category--plain {
  height: auto;
  width: auto;
  display: block;
  max-width: 900px;
  padding: 0 20px;
  margin: 20px auto;

  .wall-category-title {
    align-items: center;
    justify-content: flex-start;
    font-size: $font-size-title;
    font-weight: bold;

    .title-icon {
      height: ($font-size-title / 1.5);
      width: ($font-size-title / 1.5);
      margin-right: 10px;
    }
  }

  .wall-category-description {
    text-align: left;
  }

  #tags-outer a {
    text-decoration: none;
    color: #2c5fa5;
    display: inline-block;
    margin-right: 8px;
    transition: color 200ms ease-out;
  }
}

.wall-category-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.wall-category-description {
  font-family: sourceHanSerif;
  text-align: center;
  margin: 10px 0;
}

.wall-category-title .title-icon {
  height: 50px;
  width: 50px;
  background: url('/images/icon-code.svg') center center / contain no-repeat;
  margin-right: 10px;
}

.wall-category-tags {
  width: 100%;
}

.wall-category-tags .tag {
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 50%;
  padding: 8px 10px;
  box-sizing: border-box;
}

.wall-category-tags .tag:hover {
}

.post-card {
  display: block;
  margin: 60px 0;
  padding: 20px;

  &--sticky {
    @extend .post-card;
    background: $white-blue-lightest;
  }
}

.post-list {
  max-width: 900px;
  margin: 20px auto;
}

.post-tags {
  margin-top: 4px;
}

.post__head {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.post-title {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.post-title-pined {
  font-size: $font-size-smallest;
  margin: 0 4px;
  padding: 2px 4px;
  border: 1px solid;
  border-radius: 2px;
  color: rgb(75, 5, 5);
}

.post__body {
  display: flex;
  align-items: stretch;
}

.post-cover {
  display: block;
  flex: 0 0 150px;
  min-height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 20px;
  border-radius: 2px;
}

.post-excerpt {
  flex: 1;
  color: #666;
}

.post-excerpt * {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.75em;
}

.post__foot {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.text-link {
  display: inline-flex;
  align-items: center;
}

#tagCanvas {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.tag-page-title {
  margin: 0 auto;
  max-width: 900px;
  font-size: 40px;
  padding: 80px 0 20px;
  font-family: sourceSans, sourceHanSerif;
}

@media screen and (max-width: 1023px) {
  .wall-category {
    .tag-page-title {
      padding-left: 30px;
      padding-right: 30px;
    }

    .post-list {
      padding: 0 10px;
    }

    #tags-outer {
      padding-top: 30px;
    }
  }
}

@media screen and (max-width: 415px) {
  .post__body {
    flex-direction: column;
  }

  .post-cover {
    margin: 10px 0;
  }
}
