.highlight:hover .copy-btn, .code-container:hover .copy-btn {
  opacity: 1;
}

.code-container {
  position: relative;
}

.copy-btn {
  color: #333;
  cursor: pointer;
  line-height: 1.6;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  transition: opacity .2s ease-in-out;
}
