
.foot {
  background-color: #000;
}

.foot-inner {
  color: #aaa;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: 40px 0 10px;
}

.foot-item {
  margin: 22px;
  line-height: 40px;
}

.foot__head {
  margin: 0 20px 50px;
  font-size: 36px;
  font-weight: bold;
  font-family: sourceHanSerif;
  cursor: default;
  display: flex;
  flex-wrap: wrap;

  .foot-line {
    margin: 0 10px;
  }
}

.foot__body {
  display: flex;
  flex-wrap: wrap;
}

.foot-item__head {
  font-size: 24px;
  margin: 10px 0;
}

.foot-link {
  display: inline-block;
  padding-left: 8px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: $font-size-smaller;
  color: $black-light;

  a:hover {
    color: $black-lighter;
  }
}